# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

MDK-ARM/demo.uvprojx

MDK-ARM/demo.uvoptx

MDK-ARM/demo/

MDK/RTE/

MDK/DebugConfig/

MDK/demo.uvguix.Unenfantseul

MDK/EventRecorderStub.scvd

src/MDK/DebugConfig/

src/MDK/Objects/

src/MDK/RTE/

*.uvoptx

*.uvprojx

src/MDK/demo.uvguix.Comment.Vivre
